<button (click)="playVideo()" [disabled]="disabled" class="btn btn-default">
  <span class="glyphicon glyphicon-play"></span>
</button>

<button (click)="pauseVideo()" [disabled]="!disabled" class="btn btn-default">
  <span class="glyphicon glyphicon-pause"></span>
</button>

<button type="button" class="btn btn-default btn-sm" (click)="increaseVolume()">
  <span class="glyphicon glyphicon-plus"></span>
</button>

<button type="button" class="btn btn-default btn-sm" (click)="decreaseVolume()">
  <span class="glyphicon glyphicon-minus"></span>
</button>

<button type="button" class="btn btn-default btn-sm" (click)="reloadVideo()">
  <span class="glyphicon glyphicon-refresh"></span>
</button>

<button type="button" class="btn btn-default btn-sm" (click)="muteUnMuteVideo()">
  <span class="glyphicon glyphicon-headphones"></span>
</button>

<button type="button" class="btn btn-default btn-sm" (click)="increaseLike()">
  <span class="glyphicon glyphicon-thumbs-up"></span>{{count}}
</button>

<button type="button" class="btn btn-default btn-sm" (click)="decreaseLike()">
  <span class="glyphicon glyphicon-thumbs-down"></span>{{unliked}}
</button>